.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/__en__ac-image-1H16128524154O.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  font-size: 2.25rem;
  margin: 252px auto 0 -65px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: -27px 725px 60px -48px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 145px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -18px;
    margin-right: 531px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 256px;
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 220%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -46px;
    margin-right: 179px;
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 15px;
    margin-right: 0;
    margin-left: -25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.9375rem;
    margin: -60px 84px 42px -31px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 295px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 749px;
  margin: 54px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 17px 165px 0 196px;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  width: 780px;
  margin: 17px auto 23px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 780px;
    margin-left: 96px;
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 {
  background-image: url("images/1-blurred-sunset-sky-and-ocean-irina-moskalev.jpg");
  background-position: 50% 50%;
  min-height: 934px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1296px;
  margin: -4px auto 4px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/97525852-selection-of-arabic-food-middle-eastern-cuisine-halal-food-top-view.jpg");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-3 .u-container-layout-1 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/Sea-Scallops-and-green-beans-healthy-French-Cuisine.jpg");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-3 .u-container-layout-2 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/Chinese_and_Japanese_Cuisine.jpg");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/italian-food-in-durango.jpg");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-image-5 {
  background-image: url("images/DAE72132-79D2-4856-B92B-6BE9B7E00731_4_5005_c.jpeg");
  background-position: 50% 50%;
  min-height: 540px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  background-image: url("images/mexican-cuisine-km.jpg");
  background-position: 50% 50%;
  min-height: 540px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 540px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 23px;
}

.u-section-3 .u-text-2 {
  font-size: 1.375rem;
  font-style: italic;
  margin: 0 8px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 1011px;
    margin-left: calc(((100% - 1140px) / 2) + 64px);
  }

  .u-section-3 .u-image-1 {
    min-height: 187px;
  }

  .u-section-3 .u-image-2 {
    min-height: 187px;
  }

  .u-section-3 .u-image-3 {
    min-height: 187px;
  }

  .u-section-3 .u-image-4 {
    min-height: 187px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 187px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 36px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-image-5 {
    min-height: 392px;
  }

  .u-section-3 .u-image-6 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 392px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 33px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 356px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 818px;
    margin-left: calc(((100% - 1140px) / 2) + 161px);
  }

  .u-section-3 .u-image-1 {
    min-height: 108px;
  }

  .u-section-3 .u-image-2 {
    min-height: 108px;
  }

  .u-section-3 .u-image-3 {
    min-height: 108px;
  }

  .u-section-3 .u-image-4 {
    background-position: 6.34% 50%;
    min-height: 108px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    min-height: 300px;
  }

  .u-section-3 .u-image-6 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2954px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 187px;
    margin-left: auto;
    margin-bottom: 12px;
  }

  .u-section-3 .u-image-1 {
    min-height: 243px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 243px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 243px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 257px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 250px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-right: 164px;
    margin-left: 113px;
  }

  .u-section-3 .u-image-5 {
    min-height: 497px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 612px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 315px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1482px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-image-1 {
    min-height: 153px;
  }

  .u-section-3 .u-image-2 {
    min-height: 153px;
  }

  .u-section-3 .u-image-3 {
    min-height: 153px;
  }

  .u-section-3 .u-image-4 {
    min-height: 162px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 64px;
  }

  .u-section-3 .u-image-5 {
    min-height: 313px;
  }

  .u-section-3 .u-image-6 {
    min-height: 385px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 12px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 57px 370px 0 397px;
}

.u-section-4 .u-list-1 {
  width: 1214px;
  grid-template-rows: auto auto;
  margin: 39px auto 60px -16px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 811px;
}

.u-section-4 .u-container-layout-1 {
  padding: 7px 0 0;
}

.u-section-4 .u-image-1 {
  width: 200px;
  height: 200px;
  background-image: url("images/E984927A-6921-444D-9608-6BDB0817A8CD.jpeg");
  background-position: 50% 50%;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: -171px 16px 0 212px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 13px 17px 0 212px;
}

.u-section-4 .u-container-layout-2 {
  padding: 7px 0 0;
}

.u-section-4 .u-image-2 {
  width: 200px;
  height: 200px;
  background-image: url("images/98A5294A-3448-4649-9395-87B22A14A18A.jpeg");
  background-position: 50% 32.8%;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: -171px 16px 0 212px;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 13px 17px 0 212px;
}

.u-section-4 .u-container-layout-3 {
  padding: 7px 0 0;
}

.u-section-4 .u-image-3 {
  width: 200px;
  height: 200px;
  background-image: url("images/3AA8BC75-87E7-44BE-8375-02DCC3DC6D11.jpeg");
  background-position: 50% 50%;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: -171px 16px 0 212px;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 13px 17px 0 212px;
}

.u-section-4 .u-container-layout-4 {
  padding: 7px 0 0;
}

.u-section-4 .u-image-4 {
  width: 200px;
  height: 200px;
  background-image: url("images/emnet.jpg");
  background-position: 50% 50%;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: -171px 16px 0 212px;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 13px 17px 0 212px;
}

.u-section-4 .u-container-layout-5 {
  padding: 7px 0 0;
}

.u-section-4 .u-image-5 {
  width: 200px;
  height: 200px;
  background-image: url("images/5C08799C-08E3-42A4-BEC4-00353BF6BBCE.png");
  background-position: 50% 50%;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  margin: -171px 16px 0 212px;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  margin: 13px 17px 0 212px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 270px;
    margin-left: 297px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 628px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 225px;
    height: 225px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    width: 225px;
    height: 225px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    width: 225px;
    height: 225px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 160px;
    margin-left: 187px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    width: 126px;
    height: 126px;
  }

  .u-section-4 .u-image-4 {
    width: 126px;
    height: 126px;
  }

  .u-section-4 .u-image-5 {
    width: 126px;
    height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 70px;
    margin-left: 97px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}